/* page background + body font style */
body {

  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-family: 'Roboto', sans-serif;
}

/* adjusts size of logo top left */
#logo {
  width: 10%;
  height: auto;
  left: 0;
}

/* title text */
#title {
  font-size: 3vw;
  margin-bottom: auto;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  color: #FFFFFF;
}

/* Edit Contact popup (same styling as Add Contact) */
#editContactDiv {
  color: #FFFFFF;
  display: none;
  font-size: 18px;
  width: 50%;
  margin-left: 25%;
  padding: 25px;
  background-color: rgba(0, 0, 0, .4);
  padding: 20px 20px;
}

#editContactDiv input {
  margin: 8px 0;
  padding: 10px;
  width: 60%;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

#editContactResult {
  display: inline-block;
  font-size: 24px;
  width: 90%;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 0%;
  color: #d4040b;
}

/* Add Contact window */
#addContactDiv {
  display: none;
  font-size: 18px;
  width: 50%;
  margin-left: 25%;
  padding: 25px;
  background-color: rgba(0, 0, 0, .4);
  padding: 20px 20px;
  color: #FFFFFF
}

#addContactDiv input {
  margin: 8px 0;
  padding: 10px;
  width: 60%;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: black;
}

#addContactResult {
  display: inline-block;
  font-size: 24px;
  width: 90%;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 0%;
  color: #d4040b;
}

/* Base button style */
.button {
  font-size: 16px;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #335AAE;
  color: #FFFFFF;
}

.button:hover {
  background-color: #335AAE;
  color: #FFFFFF;
  opacity: 50%;
}

/* logout button */
.button.logout {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
}

/* Row for search bar and add contact button */
.search-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto 20px auto;
}

#searchBar {
  flex: 1;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 25px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

/* Add Contact button */
.button.add-contact {
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  border-radius: 20px;
}

.button.small {
  font-size: 12px;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 10px;
}

.button.edit {
  background-color: #4CAF50;
}

.button.delete {
  background-color: #E53935;
}

/* Container for table and searching */
.container {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, .4);
  color: white;
}

th,
td {
  padding: 12px;
  border: 1px solid #444;
  text-align: left;
}

th {
  background-color: #335AAE;
}

tr:hover {
  background-color: rgba(51, 90, 174, .4);
}

/* Delte Conact Window */
#deleteConfirmDiv {
  color: #FFFFFF;
  display: none;
  font-size: 18px;
  width: 300px;              
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  text-align: center;

  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%); 
  z-index: 2000; 
}

/* If no Contacts are added */
#contactSearchResult {
  font-size: 20px;
  color: #FFFFFF;    
  text-align: center;
  margin-top: 20px;
  border: none;
  background: none;
}
